	<!-- Loader -->
	<div id="loading">
    	<%= image_tag "loader.gif" %>
    </div>

    <div id="fixed-elements">
    <!-- Start # Basic Navigation -->
    <nav class="main-menu">
        <ul class="cbp-vimenu">
            <li class="home-icon"><a href="#hello" title="Fantazia"><%= image_tag "logo@2x.png" %></a></li>
            <li><a href="#hello" data-thumb="tooltip" data-toggle="tooltip" data-placement="right" title="Hello" data-original-title="Hello"><i class="icon-home"></i></a></li>
            <li><a href="#portfolio" data-thumb="tooltip" data-toggle="tooltip" data-placement="right" title="Portfolio" data-original-title="Portfolio"><i class="icon-music"></i></a></li>
            <li><a href="#contact" data-thumb="tooltip" data-toggle="tooltip" data-placement="right" title="Contact" data-original-title="Contact"><i class="icon-phone"></i></a></li>
            <li>
              <ul class="social-list">
                <li><a href="https://www.facebook.com/djpaulperu" data-thumb="tooltip" data-toggle="tooltip" data-placement="right" title="Facebook" data-original-title="Facebook"><i class="icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/paulyoyo" data-thumb="tooltip" data-toggle="tooltip" data-placement="right" title="Twitter" data-original-title="Twitter"><i class="icon-twitter"></i></a></li>
                <li><a href="https://soundcloud.com/djpaulpe" data-thumb="tooltip" data-toggle="tooltip" data-placement="right" title="Soundcloud" data-original-title="Soundcloud"><i class="icon-headphones"></i></a></li>
              </ul>
            </li>
        </ul>
    </nav>
    <!-- End # Basic Navigation -->

    <!-- Start # Mobile Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <ul class="navbar-nav">
            <li class="home-icon"><a href="#hello" title="Fantazia"><%= image_tag "logo2@2x.png" %></a></li>
            <li><a href="#hello" data-thumb="tooltip" data-toggle="tooltip" data-placement="bottom" title="Hello" data-original-title="Hello"><i class="icon-home"></i></a></li>
            <li><a href="#portfolio" data-thumb="tooltip" data-toggle="tooltip" data-placement="bottom" title="Portfolio" data-original-title="Portfolio"><i class="icon-music"></i></a></li>
            <li><a href="#contact" data-thumb="tooltip" data-toggle="tooltip" data-placement="bottom" title="Contact" data-original-title="Contact"><i class="icon-phone"></i></a></li>
        </ul>
    </nav>
    <!-- End # Mobile Navigation -->
    </div>
    <!-- End # fixed-elements -->


	 <!-- Section # Hello -->
     <section id="hello" class="section">
         <div class="pattern">
             <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                    	<article>
                        	<p><%= image_tag "intro_logo@2x.png" %></p>
                        	<ul id="fade">
                            <li><h1>actualmente dj residente en<br /><span>AVALON</span></h1></li>
                            <li><h1>dj residente de<br /><span>JOIA</span> todos los veranos</h1></li>
                            <li><h1>residente en<br /><span>NIKITA</span> sus 5 primeros años</h1></li>
                        </ul>
                        </article>
                        <div class="clear"></div>
                        <article>
                        	<p class="welcome-btn">
                                <a href="#portfolio" class="active-links">Adelante <i class="icon-chevron-right"></i></a>
                            </p>
                        </article>
                    </div>
                </div>
             </div>
         </div>

        <!-- Start # Slider Show -->
      <!-- End # Slider Show -->
    </section>
	<!-- End Section # Hello -->



     <!-- Section # Portfolio -->
    <section id="portfolio" class="section">

      <!-- Start # Header -->
      <header>
      		<div class="container header">
            	<div class="row">
                	<div class="col-md-12">
                    	<article>
                        <h1 class="ice">Escucha y descarga<span> mi música</span></h1>
                        	<h4 class="sub-title">Ponte tus mejores <strong>zapatos de baile</strong></h4>
                            <span class="breaker">
                            	<span></span>
                            </span>
                        </article>
                        <% if current_admin %>
                          <%= link_to 'Nuevo Post', new_post_path, class: 'btn btn-default' %>
                          <%= link_to 'Nueva Categoria', new_category_path, class: 'btn btn-default' %>
                          <%= link_to 'Cerrar Sesión', destroy_admin_session_path, method: :delete, class: 'btn btn-default' %>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
      </header>

      <!-- End # Header -->

      <!-- Start # Content -->
      <div class="container">
        <div class="row">
			<div class="col-md-12 mrg80">
            	<div class="row">
                	<div class="portfolioFilter">
                        <ul>
                          <li><a href="#" data-filter="*" class="current">Todos</a></li>
                          <%= render @categories %>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="portfolioContainer">
                      <%= render @posts %>
                    </div>
                </div>
            </div>
        </div>

      </div>
      <!-- End # Content -->

    </section>
    <!-- End Section # Portfolio -->

     <!-- Section # Contact -->
    <section id="contact" class="section">

      <!-- Start # Header -->
      <header>
      		<div class="container header">
            	<div class="row">
                	<div class="col-md-12">
                    	<article>
                        	<h1><span>Contratos</span></h1>
                        	<h4 class="sub-title">Eventos, matrimonios, discotecas <strong></strong></h4>
                            <span class="breaker">
                            	<span></span>
                            </span>
                        </article>
                    </div>
                </div>
            </div>
      </header>

      <!-- End # Header -->

      <!-- Start # Content -->
      <div class="container">
      	<div class="row mrg80 contact-details">
        	<div class="col-md-12 mrg-bottom">
            	<article>
                	<h2 class="section-title">Información de <span>contacto</span></h2>
                </article>
            </div>
            <div class="col-md-4">
            	<article>
                	<h3><i class="icon-road colorful"></i> Ubicación</h3>
                    <h5>Lima, Perú</h5>
                </article>
            </div>
            <div class="col-md-4">
            	<article>
                	<h3><i class="icon-road colorful"></i> Teléfonos</h3>
                    <p><strong>Celular: </strong>+51 951754033</p>
                    <p><strong>Fijo: </strong>+51 1 242 9957</p>
                </article>
            </div>
            <div class="col-md-4">
            	<article>
                	<h3><i class="icon-road colorful"></i> E-Mail</h3>
                    <p><a href="mailto:hola@djpaul.pe">hola@djpaul.pe</a></p>
                </article>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-12">
            	<span class="breaker2">
                    <span></span>
                </span>
            </div>
        </div>

        <%= render 'layouts/messages' %>

        <div class="row mrg80">
        	<div class="col-md-12 mrg-bottom">
            	<article>
                	<h2 class="section-title">Envia  <span> un mensaje</span></h2>
                    <h4 class="sub-title mrg-bottom">Te vas casar, tienes un evento, una fiesta privada,<strong> escríbeme </strong>y me pondré en contacto.</h4>
                </article>
            </div>
            <div class="col-md-12 pad-top contactForm" id="contactForm">
                <div class="done">
                    <strong>Thank you!</strong> We have received your message.
                </div>
                <div class="form">
                  <%= render '/messages/form' %>
                </div>
            </div>
        </div>

      </div>

	  <div class="white">
      	<div class="container">
        	<div class="row">
                 <!-- Start # Stay in touch -->
                <div class="col-md-12">
                    <ul class="social-contact">
                        <li><a href="https://www.facebook.com/djpaulperu" data-thumb="tooltip" data-toggle="tooltip" data-placement="top" title="Facebook" data-original-title="Facebook"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/paulyoyo" data-thumb="tooltip" data-toggle="tooltip" data-placement="top" title="Twitter" data-original-title="Twitter"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://soundcloud.com/djpaulpe" data-thumb="tooltip" data-toggle="tooltip" data-placement="top" title="Soundcloud" data-original-title="Soundcloud"><i class="icon-headphones"></i></a></li>
                    </ul>
                </div>
                <!-- End # Stay in touch -->
            </div>
        </div>
      </div>

      <!-- End # Content -->
    </section>
    <!-- End Section # Contact -->

   <!-- slider-->

	<article>
    	<ul id="cbp-bislideshow" class="cbp-bislideshow">
            <li><%= image_tag "1.jpg" %></li>
            <li><%= image_tag "2.jpg" %></li>
            <li><%= image_tag "3.jpg" %></li>
            <li><%= image_tag "4.jpg" %></li>
            <li><%= image_tag "5.jpg" %></li>
       </ul>
    </article>

<!--[if lte IE 8]>
		<script src="js/respond.min.js"></script>
<![endif]-->
<script>
	$("[data-thumb=tooltip]").tooltip();
	$("[data-thumb=popover]").popover();
	$('.dropdown-toggle').dropdown()
	$(".alert").alert()
	$('#myModal').modal('hide')
	$('body').scrollspy({ target: '#navbar-example' })
	$('#myTab a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
	$('#myCollapsible').collapse({
	  toggle: false
	})
	$('.carousel').carousel()
</script>

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><!-- share this -->
<!-- Move Bg -->
<script type="text/javascript">
	var scrollSpeed = 20; 		// Speed in milliseconds
	var step = 1; 				// How many pixels to move per step
	var current = 0;			// The current pixel row
	var imageHeight = 4300;		// Background image height
	var headerHeight = 300;		// How tall the header is.

	//The pixel row where to start a new loop
	var restartPosition = -(imageHeight - headerHeight);

	function scrollBg(){

		//Go to next pixel row.
		current -= step;

		//If at the end of the image, then go to the top.
		if (current == restartPosition){
			current = 0;
		}

		//Set the CSS of the header.
		$('#portfolio').css("background-position","0 "+current+"px");
		$('.process').css("background-position","0 "+current+"px");
	}

	//Calls the scrolling function repeatedly
	var init = setInterval("scrollBg()", scrollSpeed);
</script>

