#region-categories.container

  .region
    .region-title
      %h1= page_title!('categories')

    .region
      .admin-control
        = link_to 'Crear Category', new_category_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Name
            %th
            %th
            %th

          - @categories.each do |category|
            %tr
              %td= category.name
              %td= link_to 'Ver', category, class: 'btn btn-info'
              %td= link_to 'Editar', edit_category_path(category), class: 'btn btn-success'
              %td= link_to 'Eliminar', category, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
